@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  padding: 10px;
  margin-bottom: 30px;
}

.Inputs input {
  height: 25px;
  padding: 12px;
  margin: 10px;
  font-weight: bolder;
  border: solid rgba(255, 254, 254, 0.685);
  background-color: #D8D2CB;
  color: #1C658C;
}

.MainBox {
  height: 100vh;
  display: flex;
  background-color: #1C658C;
  color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Buttons {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}

.Buttons button {
  padding: 10px;
  font-weight: bolder;
  background-color: #D8D2CB;
  border: solid white;
  color: #1C658C;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  }

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #398AB9;
  color: white;
}